body {
    /* background-image: url("../../images/oriental.png");
    margin: auto;
    width: 100%;
    overflow: hidden auto;
    font-family: 'Sunflower', sans-serif;
    line-height: 1.1; */
    margin: 0;
    
}
canvas {
    position: fixed;
    z-index: -10;
}

header {
    background: #ffffff;
    border: 2px solid #cccccc;
    display: flex;
    overflow: hidden;
    width: 99%;  
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin: auto;
    border-top-width: 0;
    max-height: 80px;
    font-size: 1em;
}
ul {
    list-style-type: none;
    margin: auto;
    background-color: white;
    display: inline-flex;
}
li {
    border-right: 1px solid #bbb;
    display: block;
    padding: .7vw;
}
li a {
    color: rgb(170, 168, 168);
    padding: 1%;
    text-decoration: none;
    display: block;
}
a:hover {
    color: purple;
}
a:visited:hover {
    color: purple;
}

#Menu {
    position: absolute;
    /*right: 15%;*/
    right: 5%;
    top: 1.5%;
}
h2 {
    color: rgb(138,43,226);
    font-size: 2em;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
h3 {
    display: block;
    font-size: 2em;
}
div#Name {
    display: inline;
    background: rgb(138,43,226);
    padding: 1%;
    text-align: center;
    margin-left: 15%;
    color: #ffffff;
    max-height: 36px;
    overflow: hidden;
    white-space: nowrap;
}
#mainContent {
    margin-top: 4.4%;
    margin-left: 7%;
    margin-right: 7%;
    background: #ffffff;
    border: 1px solid #dddddd;
    padding: 2%;
    font-family: 'sunflower', sans-serif;
    min-height: 560px;
    max-height: 100%;
    position: relative;
    margin-bottom: 10%;
}
img#me {
    width: 15%;
    float: left;
    padding: 1%;
}

footer#footer2 {
    display: block;
    background: #666666;
    border-top: 10px solid rgb(138,43,226);
    overflow: hidden;
    height: 40px;
}
footer {
    position: fixed;
    overflow:hidden;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
hr {
    border-color: #666666;
}
p {
    padding: 5px 0;
    font-size: 1.114em;
}
input {
    position: inherit;
    width: 99%;
    margin: 1%;
    margin-left: 0;
}
input#large {
    height: 120px;
}
input#submit {
    clear: both;
    padding: 2px 30px;
    background: rgb(138,43,226);
    color: #ffffff;
    font-size: 1.3em;
    width: fit-content;
}
img.port {
    width: 30vw;
    height: 30vh;
    border: .4vw solid gray;
    margin: auto;
    position: relative;
    box-sizing: border-box;

}
div.gallery {
    display: inline;
    position: relative;
    margin: auto;
    margin-left: 30px;
    
}
div.banner {
    position: absolute;
    background: rgb(138,43,226);
    color: #ffffff;
    margin: auto;
    width: 29.4vw;
    padding: 1vw .2vw;
    bottom: 1%;
    left: .1vw;
    text-align: center;
}
div.row {
    display: flex;
    flex-wrap: wrap;

}

/* start scaling code */
@media(max-width:655px) {
    #mainContent {
        margin: 1%;
        margin-bottom: 15%;
    }
    header {
    display: block;
    }
    div#Name {
    display: block; 
    margin-left:0;
    }
    #Menu {
    text-align: center;
    position: relative;
    }
    li {
    margin: auto;
    padding-left: 3px;
    }
 }
       
