body {
    background-image: url("../../../Basic-Portfolio/images/oriental.png");
    margin: auto;
    width: 100%;
    overflow: hidden auto;
    font-family: 'Sunflower', sans-serif;
    line-height: 1.1;
    
}

header {
    background: #ffffff;
    border: 2px solid #cccccc;
    display: inline-flex;
    overflow: hidden;
    width: 100%;  
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin: auto;
    border-top-width: 0;
    max-height: 64px;
    font-size: 1em;
}
ul {
    list-style-type: none;
    margin: auto;
    overflow: hidden;
    background-color: white;
    display: inline-flex;
}
li {
    float: right;
    border-right: 1px solid #bbb;
    display: block;
    padding: 3%;
}
li a {
    color: rgb(170, 168, 168);
    text-align: center;
    padding: 1%;
    text-decoration: none;
    display: block;
}
a:hover {
    color: purple;
}
a:visited:hover {
    color: purple;
}

#Menu {
    position: absolute;
    /*right: 15%;*/
    margin-left: 78%;
    top: 1.5%;
}

#menubar {
    margin: 0;
}
h2 {
    color: #4aaaa5;
    font-size: 2em;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
h3 {
    display: block;
    font-size: 2em;
}
div#Name {
    display: inline;
    background: #4aaaa5;
    padding: 1%;
    text-align: center;
    margin-left: 15%;
    color: #ffffff;
}
#mainContent {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    background: #ffffff;
    border: 1px solid #dddddd;
    padding: 2%;
    font-family: 'sunflower', sans-serif;
    min-height: 560px;
    position: relative;
}
img#me {
    width: 15%;
    float: left;
    padding: 1%;
}

footer#footer2 {
    display: block;
    background: #666666;
    border-top: 10px solid #4aaaa5;
    overflow: hidden;
    height: 40px;
}
footer {
    position: fixed;
    overflow:hidden;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
hr {
    border-color: #666666;
}
p {
    padding: 5px 0;
    font-size: 1.114em;
}
input {
    position: inherit;
    width: 99%;
    margin: 1%;
    margin-left: 0;
}
input#large {
    height: 120px;
}
input#submit {
    clear: both;
    padding: 2px 30px;
    background: #4aaaa5;
    color: #ffffff;
    font-size: 1.3em;
    width: fit-content;
}
img.port {
    width: 12vw;
    height: auto;
    border: 3px solid gray;
    margin: auto;
    position: relative;

}
div.gallery {
    display: inline;
    position: relative;
    margin: auto;
    padding: 10px;
    
}
div.banner {
    position: absolute;
    background: #4aaaa5;
    color: #ffffff;
    margin: auto;
    width: 12vw;
    padding: 10px 0px;
    bottom: 113%;
    left: 5%;
    text-align: center;
}

/* start scaling code */
@media(max-width:890px) {

    #Menu {
        right: 2%;
    }
    header {
        width: 100%;
        
    }
    div#Name {
        margin-left: 2%;
    }
    #mainContent {
        margin: 2%;

    }
}
@media(max-width:500px) {

    header {
        font-size: .9em;
    }
    div#Menu {
        font-size: .9em;
        top: 1%;
    }
    div#Name {
        font-size: .9em;
    }
}
@media(max-width:410px) {

    header {
        font-size: .8em;
    }
    div#Menu {
        font-size: .8em;
        clear: both;
        top: 1%;
    }
    div#Name {
        font-size: .8em;
        clear: both;
    }
}


